.pd-15 {
    padding: 15px;
}

table {
    width: 100%;
    margin-bottom: 10px;
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
}
.label-position {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    padding-bottom: 1.3em;
}
