<nav class="navbar navbar-default no-margin">
  <div id="main-header">
    <div class="alignleft navbar-header fixed-brand">
      <img src="../assets/images/Primary_logo_white.gif">
    </div>
    <div class="aligncenter">
      <span>Welcome To Mercury</span>
    </div>
    <div class="alignright">
      <div>
        <ul class="menu">
          <li (click)="onClick('save')"><i class="fa fa-save cursor"></i></li>
          <li (click)="onClick('print')"><i class="fa fa-print cursor"></i></li>
          <li (click)="onClick('download')"><i class="fa fa-download cursor"></i></li>
          <li>
            <div class="input-icons">
              <i (click)="onClick('search')" class="fa fa-search icon"></i>
              <input placeholder="Search" class="input-field" type="text" [(ngModel)]="InputValue" />
            </div>
          </li>
          <li>
            <div class="avatar">
              <p>DS</p>

            </div>
            <!-- <div class="avatar">
                DS
              </div> -->
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
      <li class="text-center" [ngClass]="urlStringList[1]==='offer'? 'active':''">
        <a [routerLink]="['/offer/customers']">
          <span class="center">
            <img src="../assets/images/megaphone.png">
          </span>
          New Offer</a>
      </li>
      <li class="text-center" [ngClass]="urlStringList[1]==='existing-order'? 'active':''">
        <a [routerLink]="['/existing-order']">
          <span class="center">
            <img src="../assets/images/clipboard.png">
          </span>
          Existing Order
        </a>

      </li>
      <li class="text-center" [ngClass]="urlStringList[1]==='existing-offer'? 'active':''">
        <a [routerLink]="['/existing-offer']">
          <span class="center">
            <img src="../assets/images/clipboard.png">
          </span>
          Existing Offer
        </a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper" style="margin-top: 55px;">
    <div class="xyz" [ngClass]="urlStringList[1]!='offer'? 'hide':''">
      <ul>
        <li [ngClass]="urlStringList[2]!='customers'? 'curve-f':'curve-f bg-def'">
          <a [routerLink]="['/offer/customers']">Customer</a>
        </li>
        <li [ngClass]="urlStringList[2]==='material'? 'curve bg-def':'curve'">
          <a [routerLink]="['/offer/material']">Material</a>
        </li>
        <li [ngClass]="urlStringList[2]==='offer-summary'? 'curve bg-def':'curve'">
          <a [routerLink]="['/offer/offer-summary']">Offer Details</a>
        </li>

        <!-- <li [ngClass]="urlStringList[2]==='Mill-extras'? 'curve bg-def':'curve'"><a
            [routerLink]="['/offer/Mill-extras']" [routerLinkActive]="['actives']">Mill Extras</a></li>
        <li [ngClass]="urlStringList[2]==='processing-extras'? 'curve bg-def':'curve'"><a
            [routerLink]="['/offer/processing-extras']">Processing
            Extras</a></li>
        <li [ngClass]="urlStringList[2]==='transport-extras'? 'curve bg-def':'curve'"><a
            [routerLink]="['/offer/transport-extras']" [routerLinkActive]="['actives']">Transport
            Extras</a></li> -->
      </ul>
    </div>
    <div class="xyz-content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- /#page-content-wrapper -->
</div>