<ng-container *ngIf="loadingRouteConfig">
  <div class="loading-overlay is-active">
    <span class="signal"></span>
  </div>
</ng-container>
<div>
  <div class="table-inner-container overflow-auto cpp_item_table_scroll">
    <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows>

      <ng-container *ngFor="let column of columnsToDisplay;; let i = index" [matColumnDef]="column">

        <span *ngIf="column==='item'">
          <th mat-header-cell *matHeaderCellDef>Item</th>
          <td mat-cell *matCellDef="let element"> {{ i+1 }} </td>
        </span>
        <!-- <span *ngIf="column==='Base_Price'">
          <th mat-header-cell *matHeaderCellDef>{{ getName(column) }} </th>
          <td mat-cell *matCellDef="let element"> 573 </td>
        </span> -->
        <span *ngIf="column!='item'">
          <th mat-header-cell *matHeaderCellDef> {{ getName(column) }} </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element[column]==='{}'"></span>
            {{ roundUp(element[column]) }}
          </td>
        </span>
      </ng-container>
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <form [formGroup]="offerSummayForm" class="formPadd">
              <div class="row">
                <div class="col-6">
                  <div class="row mb-3">
                    <label for="inputBOM" class="col-sm-3 col-form-label">BOM</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputBOM" placeholder="BOM" formControlName="BOM"
                        readonly>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputBOM_Width" class="col-sm-3 col-form-label">BOM Width</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputBOM_Width" placeholder="BOM Width"
                        formControlName="BOM_Width" readonly>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputGrade" class="col-sm-3 col-form-label">Grade</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputGrade" placeholder="Grade"
                        formControlName="Grade" readonly>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputMaterial_Format" class="col-sm-3 col-form-label">Material Format</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputMaterial_Format" placeholder="Material Format"
                        formControlName="Material_Format" readonly>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputThickness" class="col-sm-3 col-form-label">Thickness</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputThickness" placeholder="Thickness"
                        formControlName="Thickness" readonly>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputWidth" class="col-sm-3 col-form-label">Width</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputWidth" placeholder="Width"
                        formControlName="Width" readonly>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputLength" class="col-sm-3 col-form-label">Length</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputLength" placeholder="Length"
                        formControlName="Length" readonly>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputAxis" class="col-sm-3 col-form-label">Axis</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputAxis" placeholder="Axis" formControlName="Axis"
                        readonly>
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row">
                    <div class="col-6">
                      <div class="mb-1 d-flex align-items-center position-relative">
                        <div class="flex_0_0_170">
                          Ref.Offer/Order ID:
                        </div>
                        <div class="flex_1_1_10 table_mat_input_container  d-flex align-items-center">
                          <input class="yellowInput max_width_200" readonly />

                        </div>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="mb-1 d-flex align-items-center position-relative">
                        <div class="flex_0_0_170">
                          Previous effective price:
                        </div>
                        <div class="flex_1_1_10 table_mat_input_container">
                          <input class="yellowInput max_width_200" readonly />
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="flex_0_0_170">
                          Date Previous transaction:
                        </div>
                        <div class="flex_1_1_10 table_mat_input_container">
                          <input class="yellowInput max_width_200" readonly type="text" />
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="mb-1 square_box_flex_box">
                    <div class="mb-2 d-flex align-items-center">
                      <div class="flex_0_0_170">

                      </div>
                      <div class="flex_1_1_10 font_weight_bold text-center font_13">
                        PGL
                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 font_weight_bold text-center font_13">
                        Deviation
                      </div>
                      <div class="flex_1_1_10 font_13">

                      </div>
                      <div class="flex_1_1_10 font_weight_bold text-center font_13">
                        Offered
                      </div>
                      <div class="flex_1_1_10 font_weight_bold text-center min_width_65 font_13">
                        Actual <br /> Deviation
                      </div>
                    </div>
                    <div class="mb-2 d-flex align-items-center position-relative">
                      <div class="flex_0_0_170">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 text-center">
                        Mi
                      </div>
                      <div class="flex_1_1_10 text-center">
                        Target
                      </div>
                      <div class="flex_1_1_10 text-center">
                        Amb.
                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                    </div>
                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        Base Price:
                        <span class="required">
                          *
                        </span>
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container position-relative">
                        <input readonly class="yellowInput" value="573" />
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container position-relative">
                        <input readonly class="inputOne" value="540">
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container position-relative">
                        <input readonly class="inputTwo" value="570" />
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container position-relative">
                        <input readonly class="inputThree" value="600" />
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container position-relative">
                        <input type="text" maxlength="10" value="{{roundUp(522.58)}}" readonly />
                      </div>

                      <div class="flex_1_1_10 text-center">
                        {{roundUp(50.42)}}
                      </div>
                    </div>
                    <!-- <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        Size Extra:
                      </div>

                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input appDecimalNumber maxlength="10" />
                      </div>
                      <div class="flex_1_1_10 text-center">23</div>
                    </div>
                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        sdfx
                      </div>

                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input maxlength="10" type="number" />
                      </div>
                      <div class="flex_1_1_10 text-center">322
                      </div>
                    </div>
                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        Grade Extra:
                      </div>

                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input type="number" />
                      </div>
                      <div class="flex_1_1_10 text-center">23223
                      </div>
                    </div>
                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        Sub-size Extra:
                      </div>

                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input type="number" />
                      </div>
                      <div class="flex_1_1_10 text-center">
                        565
                      </div>
                    </div>
                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        Length Extra:
                      </div>

                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">
                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input type="number" />
                      </div>
                      <div class="flex_1_1_10 text-center">
                        34
                      </div>
                    </div>
                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        Logistic Extra:
                      </div>

                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input type="number" />
                      </div>
                      <div class="flex_1_1_10 text-center">
                        435
                      </div>
                    </div>
                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        Transport Mode Extra:
                      </div>

                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input type="number" />
                      </div>
                      <div class="flex_1_1_10 text-center">
                        344
                      </div>
                    </div>
                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        Certificate Extra:
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container" >
                        <input readonly class="yellowInput" />
                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input type="number" />

                      </div>
                      <div class="flex_1_1_10 text-center">
                        3434
                      </div>

                    </div> -->
                    <!-- Extras -->

                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        Mill Extras:
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input readonly class="yellowInput" value="143" />
                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input type="number" readonly value="143" />
                      </div>
                      <div class="flex_1_1_10 text-center">0
                      </div>
                    </div>
                    <!-- Extras -->

                    <!-- Surcharge Extras -->
                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        Processing Extras:
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input readonly class="yellowInput" value="{{roundUp(45.22)}}" />
                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input type="text" readonly value="{{roundUp(42.95)}}" />
                      </div>
                      <div class="flex_1_1_10 text-center">{{roundUp(2.27)}}
                      </div>
                    </div>

                    <!-- Surcharge Extras -->
                    <!-- Transport Extras -->
                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170">
                        Transport Extras:
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input readonly class="yellowInput" value="{{roundUp(41.46)}}" />
                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10">

                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input type="text" readonly value="{{roundUp(41.46)}}" />
                      </div>
                      <div class="flex_1_1_10 text-center">0
                      </div>
                    </div>
                    <div class="mb-1 d-flex align-items-center">
                      <div class="flex_0_0_170 font_weight_bold">
                        Effective Price:
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input readonly class="yellowInput" value="{{roundUp(802.68)}}">
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input readonly class="inputOne" value="{{roundUp(768.20)}}">
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input readonly class="inputTwo" value="{{roundUp(799.55)}}">
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input readonly class="inputThree" value="{{roundUp(830.90)}}">
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input class="yellowInput" type="text" value="750">
                      </div>

                      <div class="flex_1_1_10 text-center">
                        {{roundUp(52.68)}}
                      </div>
                    </div>
                    <div class="mb-1 d-flex align-items-center position-relative">
                      <div class="flex_0_0_170">
                        Volume (Tonnes):
                      </div>
                      <div class="flex_1_1_10 table_mat_input_container">
                        <input class="yellowInput max_width_200" type="number" />
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row mb-3">
                    <label for="inputPGL_Base_Price" class="col-sm-3 col-form-label">PGL Base Price</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputPGL_Base_Price" placeholder="PGL Base Price"
                        formControlName="PGL_Base_Price" readonly>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputProposed_Price" class="col-sm-3 col-form-label">Proposed Price</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputProposed_Price" placeholder="Proposed Price"
                        formControlName="Proposed_Price">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputVolume" class="col-sm-3 col-form-label">Volume</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputVolume" placeholder="Volume"
                        formControlName="Volume">
                    </div>
                  </div> -->
                </div>
                <!-- <div class="col-4 table">
                  <mat-label class="f-r">Mill Extras</mat-label>
                  <table mat-table [dataSource]="millExtras">

                    <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef> Code
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{row.code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef> Description
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{row.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Amount
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{row.amount}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="extrasColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: extrasColumns1;"></tr>

                  </table>
                </div>
                <div class="col-4">
                  <mat-label class="f-r">Processing Extras</mat-label>
                  <table mat-table [dataSource]="processingExtras">


                    <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef> Code
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{row.code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef> Description
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{row.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Amount
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{row.amount}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="extrasColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: extrasColumns2;"></tr>

                  </table>
                </div>
                <div class="col-4">
                  <mat-label class="f-r">Transport Extras</mat-label>
                  <table mat-table [dataSource]="transportExtras">

                    <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef> Code
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{row.code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef> Description
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{row.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Amount
                      </th>
                      <td mat-cell *matCellDef="let row">
                        {{row.amount}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="extrasColumns3"></tr>
                    <tr mat-row *matRowDef="let row; columns: extrasColumns3;"></tr>

                  </table>
                </div> -->
              </div>
            </form>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
</div>