<div (saveClicked)="saveChage($event)">
  
  <div class="table-inner-container overflow-auto cpp_item_table_scroll">
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="Item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let element"> {{element.Item}} </td>
      </ng-container>

      <ng-container matColumnDef="Plant">
        <th mat-header-cell *matHeaderCellDef> Plant </th>
        <td mat-cell *matCellDef="let element"> {{element.Plant}} </td>
      </ng-container>

      <ng-container matColumnDef="Material_Number">
        <th mat-header-cell *matHeaderCellDef> Material Number </th>
        <td mat-cell *matCellDef="let element"> {{element.Material_Number}} </td>
      </ng-container>

      <ng-container matColumnDef="Applicable_PGL_Base_Price">
        <th mat-header-cell *matHeaderCellDef> Applicable PGL Base Price </th>
        <td mat-cell *matCellDef="let element"> {{element.Applicable_PGL_Base_Price}} </td>
      </ng-container>

      <ng-container matColumnDef="Total_mill_Extra">
        <th mat-header-cell *matHeaderCellDef> Total mill Extra </th>
        <td mat-cell *matCellDef="let element"> {{element.Total_Mill_Extra}} </td>
      </ng-container>

      <ng-container matColumnDef="Total_Processing_Extra">
        <th mat-header-cell *matHeaderCellDef> Total Processing Extra </th>
        <td mat-cell *matCellDef="let element"> {{element.Total_Processing_Extra}} </td>
      </ng-container>

      <ng-container matColumnDef="Total_Transport_Extra">
        <th mat-header-cell *matHeaderCellDef> Total Transport Extra </th>
        <td mat-cell *matCellDef="let element"> {{element.Total_Transport_Extra}} </td>
      </ng-container>

      <ng-container matColumnDef="Total_Effective_Extra">
        <th mat-header-cell *matHeaderCellDef> Total Effective Extra </th>
        <td mat-cell *matCellDef="let element"> {{element.Total_Effective_Extra}} </td>
      </ng-container>

      <ng-container matColumnDef="Proposed_Price">
        <th mat-header-cell *matHeaderCellDef> Proposed Price </th>
        <td mat-cell *matCellDef="let element"> {{element.Proposed_Price}} </td>
      </ng-container>

      <ng-container matColumnDef="Volume_Offered_In_Tonnes">
        <th mat-header-cell *matHeaderCellDef> Volume Offered In Tonnes </th>
        <td mat-cell *matCellDef="let element"> {{element.Volume_Offered_In_Tonnes}} </td>
      </ng-container>

      <ng-container matColumnDef="PCR_Price">
        <th mat-header-cell *matHeaderCellDef> PCR Price </th>
        <td mat-cell *matCellDef="let element"> {{element.PCR_Price}} </td>
      </ng-container>

      <ng-container matColumnDef="Gap_With_Applicable_PGL_Base_Price">
        <th mat-header-cell *matHeaderCellDef> Gap With Applicable PGL Base Price </th>
        <td mat-cell *matCellDef="let element"> {{element.Gap_With_Applicable_PGL_Base_Price}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
  </div>