@import "../../../../assets/color.scss";

table {
  width: 100%;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #005691 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #005691;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0 !important;
  // display: none;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  // display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.mat-form-field-wrapper {
  padding-bottom: 0px !important ;
}
.example-detail-row td {
  padding: 0px !important;
}
.example-element-row[_ngcontent-lqg-c296] td[_ngcontent-lqg-c296] {
  border-bottom-width: thin !important;
}
.formPadd {
  padding: 10px 5px 10px 10px;
  background: #f5f5f5;
  border: 1px solid lightgray;
}

//extention

.box_flex_square {
  border: 1px solid $inputBorder;
  padding: 15px 10px 0px 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px $tableShadow !important;
  .required {
    color: rgb(245, 70, 70);
  }
  .flex_0_0_130 {
    flex: 0 0 130px;
    font-size: 0.875rem;
  }
  .box_selection {
    flex: 1 1 100px;
    width: 100px;
    > input {
      width: 100%;
      border: 1px solid $inputBorder;
      outline: none;
      box-shadow: none;
      border-radius: 4px;
      padding: 5px 10px;
      font-size: 0.875rem;
    }
    > textarea {
      width: 100%;
      border: 1px solid $inputBorder;
      outline: none;
      box-shadow: none;
      resize: none;
      height: 100px;
      border-radius: 4px;
      vertical-align: top;
      padding: 5px 10px;
      font-size: 0.875rem;
    }
  }
  .input_box_selection {
    > input {
      width: 100%;
      border: 1px solid $inputBorder;
      outline: none;
      box-shadow: none;
      border-radius: 4px;
      padding: 5px 10px;
    }
  }
}
.flex_0_0_90 {
  flex: 0 0 90px;
  max-width: 90px;
}
.flex_0_0_50per {
  flex: 0 0 50%;
  max-width: 50%;
}
.flex_1_1_10 {
  flex: 1 1 10px;
  max-width: calc(100% - 145px);
}
.flex_1_1_10_inf {
  flex: 1 1 10px;
  width: 10px;
}
.flex_0_0_35per {
  flex: 0 0 35%;
  max-width: 35%;
}
.flex_0_0_145 {
  flex: 0 0 145px;
}
.flex_0_0_170 {
  flex: 0 0 170px;
  font-size: 13px;
}
.table_mat_input_container {
  > input {
    width: 100%;
    border: 1px solid $inputBorder;
    outline: none;
    box-shadow: none;
    border-radius: 4px;
    padding: 4px 10px;
    height: 32px;
    font-size: 13px;
  }
  > input[type="checkbox"] {
    width: auto;
    height: auto;
  }
  textarea {
    width: 100%;
    border: 1px solid $inputBorder;
    outline: none;
    box-shadow: none;
    border-radius: 4px;
    padding: 4px 10px;
    height: 100px;
    resize: none;
  }
}
.input_tag {
  background-color: $f5f5f5;
  height: 32px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $inputBorder;
  position: absolute;
  top: 0px;
  right: -1px;
}
.flex_0_0_48per {
  flex: 0 0 48%;
  max-width: 48%;
}
.add_head {
  color: $black;
  font-size: 15px;
  font-family: "semi-bold";
  margin-bottom: 5px;
}
.min_width_65 {
  min-width: 65px;
}
.inputOne {
  background-color: $inputOne;
}
.inputTwo {
  background-color: $inputTwo;
}
.inputThree {
  background-color: $inputThree;
}
.yellowInput {
  background-color: $yellowInput;
}
.flex_0_0_10 {
  flex: 0 0 10px;
}
.font_13 {
  font-size: 13px !important;
}
.required {
  color: rgb(245, 70, 70);
}
.table {
  .example-detail-row td {
    width: auto;
  }
}
