<ng-container *ngIf="loadingRouteConfig">
  <div class="loading-overlay is-active">
    <span class="signal"></span>
  </div>
</ng-container>
<div>
  <!-- <div class="row">
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>Material</mat-label>
        <mat-select placeholder="Material" (selectionChange)="getCharacteristics($event?.value)">
          <mat-option *ngFor="let material of materialList" [value]="material">
            {{material.material | number : '1.0-0'}} - {{material.plant}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div> -->
  <div class="table-inner-container overflow-auto cpp_item_table_scroll">
    <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="Item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let element; let i = dataIndex;"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="Plant">
        <th mat-header-cell *matHeaderCellDef> Plant </th>
        <td mat-cell *matCellDef="let element"> {{element.plant}} </td>
      </ng-container>

      <ng-container matColumnDef="Material_Number">
        <th mat-header-cell *matHeaderCellDef> Material Number </th>
        <td mat-cell *matCellDef="let element"> {{element.material | number : '1.0-0'}} </td>
      </ng-container>

      <ng-container matColumnDef="Applicable_PGL_Base_Price">
        <th mat-header-cell *matHeaderCellDef> Applicable PGL Base Price </th>
        <td mat-cell *matCellDef="let element"> {{element.Applicable_PGL_Base_Price}} </td>
      </ng-container>

      <ng-container matColumnDef="Total_mill_Extra">
        <th mat-header-cell *matHeaderCellDef> Total mill Extra </th>
        <td mat-cell *matCellDef="let element"> {{element.Total_Mill_Extra}} </td>
      </ng-container>

      <ng-container matColumnDef="Total_Processing_Extra">
        <th mat-header-cell *matHeaderCellDef> Total Processing Extra </th>
        <td mat-cell *matCellDef="let element"> {{element.Total_Processing_Extra}} </td>
      </ng-container>

      <ng-container matColumnDef="Total_Transport_Extra">
        <th mat-header-cell *matHeaderCellDef> Total Transport Extra </th>
        <td mat-cell *matCellDef="let element"> {{element.Total_Transport_Extra}} </td>
      </ng-container>

      <ng-container matColumnDef="Total_Effective_Extra">
        <th mat-header-cell *matHeaderCellDef> Total Effective Extra </th>
        <td mat-cell *matCellDef="let element"> {{element.Total_Effective_Extra}} </td>
      </ng-container>

      <ng-container matColumnDef="Proposed_Price">
        <th mat-header-cell *matHeaderCellDef> Proposed Price </th>
        <td mat-cell *matCellDef="let element"> {{element.Proposed_Price}} </td>
      </ng-container>

      <ng-container matColumnDef="Volume_Offered_In_Tonnes">
        <th mat-header-cell *matHeaderCellDef> Volume Offered In Tonnes </th>
        <td mat-cell *matCellDef="let element"> {{element.Volume_Offered_In_Tonnes}} </td>
      </ng-container>

      <ng-container matColumnDef="PCR_Price">
        <th mat-header-cell *matHeaderCellDef> PCR Price </th>
        <td mat-cell *matCellDef="let element"> {{element.PCR_Price}} </td>
      </ng-container>

      <ng-container matColumnDef="Gap_With_Applicable_PGL_Base_Price">
        <th mat-header-cell *matHeaderCellDef> Gap With Applicable PGL Base Price </th>
        <td mat-cell *matCellDef="let element"> {{element.Gap_With_Applicable_PGL_Base_Price}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

            <p>saudjasdk</p>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>