<ng-container *ngIf="loadingRouteConfig">
    <div class="loading-overlay is-active">
        <span class="signal"></span>
    </div>
</ng-container>
<div>
    <div class="table-inner-container overflow-auto cpp_item_table_scroll">
        <table mat-table matSort [dataSource]="dataSource">

            <ng-container *ngFor="let column of columnsToDisplay;" [matColumnDef]="column">
                <span *ngIf="column==='select'">
                    <th mat-header-cell *matHeaderCellDef>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null;selectedMaterials($event,row)"
                            [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </span>
                <span *ngIf="column==='item'">
                    <th mat-header-cell *matHeaderCellDef>Item</th>
                    <td mat-cell *matCellDef="let element;let i=index"> {{ i+1 }} </td>
                </span>
                <span *ngIf="((column!='item') && (column!='select'))">
                    <th mat-header-cell *matHeaderCellDef> {{ getName(column) }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                </span>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            <div class="mat-row no_data" *matNoDataRow>
                <div class="mat-cell" colspan="columnsToDisplay.length" *ngIf="!dataSource">No Data</div>
            </div>
        </table>
    </div>
    <div class="row pd-t">
        <div class="col-12 btn-text-right f-r">
            <button mat-flat-button color="primary" (click)="submit()">Next</button>
        </div>
    </div>
</div>