@import './font.scss';
$white:#ffffff;
$primaryBg:#f3f3f3;
$bgWhite:#ffffff;
$black:#000000;
$primary:#1d9de0;
$primaryShade:#3aace9;
$inputBorder:#D7DFE8;
$inputBg:#F2F8FF;
$inputPlaceholder:#41464A;
$tableBorder:#dddddd;
$tableHeadBg:#EBF0F6;
$tableHeaderBorder:#ABC4E4;
$tableBodyBorder:#E2E6E9;
$tableHeadColor:#45494e;
$tableColor:#41464A;
$deleteBtn:#D93411;
$uploadBg:#F6F9FB;
$mainContainerHead:#565758;
$invalid:rgb(248, 95, 95);
$primaryOrange:#F47D30;
$scrollOrange:#c83600;
$labelColor:rgba(0, 0, 0, 0.6);
$tableShadow: #c0c0c0;
$template_color:#797979;
$delete:rgb(247, 110, 110);
$copy:rgb(50, 166, 243);