/* You can add global styles to this file, and also import other style files */
@import './assets/color.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//input outline color
p,a {
    font-family: "regular";
}
.cursor{
    cursor: pointer;
}