/* You can add global styles to this file, and also import other style files */
@import "./assets/color.scss";
@import "./assets/custom.scss";
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
//input outline color
p,
a {
    font-family: "regular";
}
.cursor {
    cursor: pointer;
}
.pd-t-b {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pd-b {
    padding-bottom: 10px;
}
.pd-t-b-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.bg {
    background: #f6fbff !important;
}

.example-detail-row {
    min-height: auto;
    border-bottom: none;
}
.cdk-column-expandedDetail {
    border-right: none !important;
}
.no_data {
    .mat-cell {
        border-right: none !important;
    }
}
.mat-footer-cell {
    font-size: 0.875rem;
}
.mat-form-field-prefix,
.mat-form-field-suffix {
    color: #918787;
}
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background: $scrollOrange;
    color: $white;
    font-family: "regular";
    border-radius: 0px;
    min-width: 120px;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary1 {
    border-radius: 0px;
    min-width: 100px;
}
.mat-stroked-button:not(.mat-button-disabled) {
    border-radius: 0px;
    min-width: 100px;
}
.example-full-width {
    width: 100%;
}

// time picker
.timepicker__header {
    background: transparent linear-gradient(80deg, $primaryOrange 0%, $scrollOrange 100%) 0% 0% no-repeat padding-box !important;
}
.timepicker-button {
    color: white !important;
    background: transparent linear-gradient(80deg, $primaryOrange 0%, $scrollOrange 100%) 0% 0% no-repeat padding-box !important;
    padding: 2%;
    margin-right: 2px;
}
.clock-face__clock-hand {
    background: transparent linear-gradient(80deg, $primaryOrange 0%, $scrollOrange 100%) 0% 0% no-repeat padding-box !important;
}
.clock-face__number > span.active {
    background: transparent linear-gradient(80deg, $primaryOrange 0%, $scrollOrange 100%) 0% 0% no-repeat padding-box !important;
    color: white;
}
.clock-face__clock-hand_minute:before {
    border-color: $scrollOrange;
}
.mat-calendar-header {
    padding: 8px 8px 0 8px;
    color: white;
    background: transparent linear-gradient(80deg, $primaryOrange 0%, $scrollOrange 100%) 0% 0% no-repeat padding-box !important;
}
.mat-calendar-arrow {
    border-top-color: white;
}
.mat-calendar-body-selected {
    background: transparent linear-gradient(80deg, $primaryOrange 0%, $scrollOrange 100%) 0% 0% no-repeat padding-box !important;
}
.mat-datepicker-toggle,
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
    color: white;
}
.mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-prefix
    .mat-icon-button
    .mat-datepicker-toggle-default-icon,
.mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-suffix
    .mat-icon-button
    .mat-datepicker-toggle-default-icon {
    color: white;
    background: transparent linear-gradient(80deg, $primaryOrange 0%, $scrollOrange 100%) 0% 0% no-repeat padding-box !important;
}
.mat-datepicker-content .mat-calendar {
    width: 230px !important;
    height: 300px !important;
    z-index: 2000;
}

.cdk-overlay-container {
    z-index: 2000;
}
//input outline color
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $inputBorder !important;
    // opacity: 1!important;
}

//mat-input focused color
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $inputBorder !important;
}

// mat-input error outline color
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: $inputBorder !important;
    opacity: 0.8 !important;
}

// mat-input carent color
.mat-input-element {
    caret-color: $scrollOrange !important;
}

// mat-input error carent color
.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: $scrollOrange !important;
}

// mat-label normal state style
.mat-form-field-label {
    color: rgba(0, 0, 0, 0.6) !important;
    // color: $mainColor!important;
}

// mat-label focused style
.mat-form-field.mat-focused .mat-form-field-label {
    color: $primaryOrange !important;
}

// mat-label error style
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $primaryOrange !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5px 0.5px 10px 0.5px !important;
    font-size: 13px !important;
}
.label-position {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    padding-bottom: 0.3em;
    font-family: "regular";
    font-size: 13px;
}
tr.mat-row,
tr.mat-footer-row {
    cursor: pointer;
}
.loading-overlay {
    display: none;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    align-items: center;
    justify-content: center;
}

.loading-overlay.is-active {
    display: flex;
}

/*loader*/

.signal {
    border: 5px solid $primaryOrange;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 30px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

/*loader*/
.mat-checkbox.mat-accent {
    .mat-checkbox-frame {
        border: 1px solid $primaryOrange;
    }

    &.mat-checkbox-checked .mat-checkbox-background {
        background-color: $white;
        border: 1px solid $primaryOrange;
    }

    .mat-checkbox-checkmark-path {
        stroke: $primaryOrange !important;
    }
}
.mat-checkbox.mat-checkbox-indeterminate {
    .mat-checkbox-frame {
        border: 1px solid $primaryOrange;
    }

    &.mat-checkbox-checked .mat-checkbox-background {
        background-color: $white;
        border: 1px solid $primaryOrange;
    }

    .mat-checkbox-checkmark-path {
        stroke: $primaryOrange !important;
    }
}
.mat-form-field .mat-input-element:read-only {
    background-color: transparent !important;
}
.f-r {
    font-family: "regular";
    font-size: 13px;
}
.f-b {
    font-family: "bold";
}
.mat-option-text,
.mat-select-min-line {
    font-family: "regular";
    font-size: 13px !important;
}
.mb-3 {
    margin-bottom: 0.31rem !important;

    input:focus,
    .form-control:focus {
        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border: 1.5px solid $tableBorder;
    }
    .form-control {
        border: 1px solid $tableBorder;
        border-radius: 0px;
    }
    .form-control::-webkit-input-placeholder {
        font-family: "regular";
    }

    .form-control:-ms-input-placeholder {
        font-family: "regular";
    }

    .form-control:-moz-placeholder {
        font-family: "regular";
    }

    .form-control::-moz-placeholder {
        font-family: "regular";
    }
}
.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
    background: $primaryOrange !important;
}
.mat-form-field-wrapper {
    padding-bottom: 0.34375em !important;
}

.mat-form-field-outline-start,
.mat-form-field-outline-end {
    border-radius: 0 !important;
}
.btn-p-buttom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}
.p-b-45 {
    padding-bottom: 45px;
}
.col-form-label {
    padding-top: calc(0.5px);
    padding-bottom: calc(0.2rem);
    font-size: 12px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.2rem 0.5rem;
    font-size: 14px;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.25px 0 !important;
}
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    display: block;
    width: 1em;
    height: 1em;
}
.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0%) !important;
}
